@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="box">
        <div class="column1">
            <div class="column1-collections">Collection</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-collections">Collection</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
        </div>

        <div class="column2">
        <p>Welcome to TinyShelf <br> to get started please register an account.</p>
        </div>

    </div>
</div>
