@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="box">
        <div class="column1">
            <div class="column1-header">TinyShelf</div>
            <div class="column1-newcollection">New Collection</div>
            <div class="column1-collections">Collection</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-collections">Collection</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-collections">Collection</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
            <div class="column1-items">items</div>
        </div>

        <div class="column2">
            <div class="column2-nav">search bar - login in
            </div>
                <div class="column2-main"><h2>Build your bookshelf, <br>share your story.</h2><p>Add details, ratings, and notes to your favorite books, movies, and more. Keep your collections private or share them with friends, family, or students using the social sharing feature.</p>
<button class="main-1-button">Sign Up for Free</button>
                    <div class="main-2">
                        <div class="main-2-1"><h2>Catalog & Treasure</h2>Keep, share, and inspire with Collections. Connect and exchange recommendations with others, all in one place.</div>
                        <div class="main-2-1"><h2>Share Your Passions</h2>Connect through your favorites: Bring people together by sharing your go-to spots and resources.</div>
                    </div>
                </div> 
            </div>

    </div>
</div>
