@{
    ViewData["Title"] = "Home Page";
}

@using TinyShelf.ViewModels;
@model LoginViewModel;

@if (User.Identity.IsAuthenticated)
{
  <h2 class="header">Your Profile</h2>
  <p>Username: @User.Identity.Name</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="login-button" value="Log Out"/>
  }
}
else
{
  <p>Please login or register for a free account:</p>
  <br>
  <div>
    @Html.ActionLink("Log-in","Login","Account", null, new { @class= "login-button"} )
    @Html.ActionLink("Register here", "Register", "Account", null, new { @class= "login-button"} )
  </div>
}
</div>