@{
    ViewData["Title"] = "Home Page";
}

@using TinyShelf.ViewModels;
@model LoginViewModel;

@if (User.Identity.IsAuthenticated)
{
  <p>Welcome @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="login-button" value="Log Out"/>
  }
}
else
{
  <h2>Please login or register for a free account</h2>
  <br>
  <div>
    @Html.ActionLink("Log-in","Login","Account", null, new { @class= "login-button"} )
    <br>
    @Html.ActionLink("Register here", "Register", "Account", null, new { @class= "login-button"} )
  </div>
}
<br>
<br>