* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  margin: 0px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  margin: 0px;
}

body {
  margin-bottom: 60px;
  background-color: #283845;
  color: #b8b08d;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
  border: #556e83;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 0px;
  gap: 10px;
  margin: 0px;
}

.column1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  order: 0;
  width: 400px;
  border: #344a5b;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  gap: 2px;
  background-color: #202c39;
  padding-top: 0px;
}

.column1-header {
  order: 0;
  width: 100%;
  height: auto;
  border: #283845;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: #202c39;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
}

.logo {
  width: 250px;
  height: 100%;
}

.column1-newcollection {
  order: 1;
  width: 100%;
  height: auto;
  border: #283845;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 16px;
}

.column1-collections {
  order: 0;
  width: 50%;
  height: 40px;
  border: #283845;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 8px;
  background-color: #202c39;
}

.column1-items {
  order: 4;
  width: 100%;
  height: auto;
  border: #283845;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  display: none;
  background-color: #283845;
}

.column1:hover .column1-collections,
.column1:hover .column1-items {
  display: block;
  /* transition: all 56.65s; */
}

.column2 {
  display: flex;
  flex-direction: column;
  order: 0;
  width: 100%;
  min-height: 100%;
  border: #344a5b;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  gap: 3px;
  background-color: #283845;
}

.column2-nav {
  display: flex;
  direction: row;
  width: 100%;
  height: auto;
  border: #344a5b;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  text-align: right;
  justify-content: right;
  align-content: center;
  gap: 5px;
  align-items: center;
}

.column2-main {
  width: 100%;
  order: 1;
  width: 100%;
  height: auto;
  border: #344a5b;
  border-width: 0px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.main-1 {
  background-color: #202c39;
  width: 600px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.main-1-button {
  background-color: #47cf73; /* Green */
  border: none;
  color: rgb(11, 10, 10);
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-1-button:hover {
  background-color: #f29559; /* Green */
  border: none;
  color: rgb(11, 10, 10);
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.column2-main h2 {
  color: #d7d7d7;
  margin-bottom: 20px;
}

.main-2 {
  display: flex;
  direction: row;
  width: 600px;
  height: auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  gap: 40px;
}

.main-2-1 {
  order: 0;
  background-color: #202c39;
  width: 300px;
  height: 200px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-radius: 6px;
  text-align: left;
}

.main-2-1 h2 {
  color: #d7d7d7;
  margin-bottom: 20px;
  font-size: 23px;
}

.login-button {
  background-color: #283845; /* Green */
  border: solid;
  border-width: 1px;
  color: #67f297;
  padding: 9px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  border-color: #67f297;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.login-button:hover {
  background-color: #f29559;
  color: #151515;
  border: solid;
  border-width: 1px;
  padding: 9px 19px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  border-color: #f29559;
  margin-left: 2px;
  margin-right: 2px;
}

.login-button a {
  color: #67f297;
}

.login-button a:hover {
  color: #151515;
}

a {
  color: #ffb310;
  text-decoration: none;
}

a:hover {
  color: #67f297;
  text-decoration: none;
}

.img-link {
  width: 30px;
  height: 30px;
  content: url("~/img/user.png") no-repeat;
  background-size: cover;
}

.fadein img {
  opacity: 1;
  transition: 0.3s ease;
}

.fadein img:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

.fadein {
  height: 45px;
  padding: 10px;
  margin-bottom: 0;
}

.fadein-2 img {
  opacity: 1;
  transition: 0.3s ease;
}

.fadein-2 img:hover {
  opacity: 0.2;
  transition: 0.3s ease;
}

.fadein-2 {
  order: 3;
}

.header {

    color: #d7d7d7;
    margin-bottom: 20px;
    font-size: 23px;

}

.allforms {
  background-color: #283845 !IMPORTANT;
  width: 280px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border: solid #b8b08d;
  color: #d7d7d7;
  outline: none !important;
}

.allforms:focus {
  background-color: #283845 !IMPORTANT;
  width: 280px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border: solid #67f297;
  color: #d7d7d7;
  outline: none !important;
}


.button-anon-pen {
  width: 200px;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  text-align: center;
  margin: 0 auto;
  color: #d7d7d7;
  display: block;
  top: 45vh;
  font-weight: bold 10pt;
  border-radius: 6px;
  overflow: hidden;
  font-size: 15px;
}

.button-anon-pen:hover {
  -webkit-animation: play 1.6s ease-in infinite;
}

.button-anon-pen div {
  padding: 10px 0;
  font-size: 22px;
  display: block;
  margin: 3px;
  background: #202c39;
  border-radius: 3px;
   font-size: 15px;
}

@-webkit-keyframes play {
  0% {
      background-position: 0px;
  }
  20% {
      background-position: -110px;
  }
  35% {
      background-position: -180px;
  }
  50% {
      background-position: -210px;
  }
  80% {
      background-position: -350px;
  }
  100% {
      background-position: -390px;
  }
}

.newcollection-font a {
  font-size: 10pt;
}

.button-anon-pen a {
  font-size: 10pt;
}
